.botao {
    background-color: #53ACAF;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-top: 32px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.botao:hover {
    background-color: #408B8E;
    color: #fff;
    transform: scale(1.1);
}
